body {
        background-color: white;
        font-family: arial; sans-serif;
        display: block;
        overflow-y: scroll;
        margin: 0;
}

.header {
            background-color: #fafafa;
            height: 85px;
            margin: 0 0;
            
            width: 100%;
            display: block;
            padding: 8px;
            
            
            
}

.header a   { color: black;}
.footer a   {color: gray;}
a:link    {  text-decoration: none}
a:visited { text-decoration: none}
.footer a:hover   {  text-decoration:underline}
.footer a:active  {  text-decoration:underline}


.avatar {
            border-radius: 50%;
            margin-top: -5px;
}

#topnav     {
            
            width: 100%;
            background-color: #fafafa;
            height: 58px;
}


#navsearch {
            background-color: #fafafa;
            height: 60px;
            display: inline;
            position: relative;
            
            margin-top: -5px;
            padding-left: 150px;
            width: 60%;
            border-bottom: 1px solid #ebebeb;
}



#navsearch  a {
            font-family: arial;
            color: gray;
            
            
            line-height: 24px;
            
            font-size: 13px;
            margin-right: 10px;
            padding: 15px 8px;
            list-style: none;
            display: inline-block;
            
            
}


#navsearch a:hover { color: black;
}

#more     {
            margin-right: 85px;
    
} 


.header ul li {
            font-family: arial, sans-serif;
            
            list-style-type: none;
            float: right;
            margin-top: -20px;
            padding: 8px;
            display: block;
            
            
}

.filler {
            float: left;
            height: 60px;
            width: 40%;
            background-color: #fafafa;
}


.center {
            min-width: 400px;
            min-height: 470px;
            padding-top: 75px;
}



#Logo {
            display: block;
            margin: 0 auto;
            
}

#Google {
            float: left;
            margin: 10px 2px 0px 0px;
            
}

#search {
            margin: 10px 20px;
            height: 35px;
            width: 500px;
            float: left;
}


.btn {
        font-family: arial, sans-serif;
        font-size: 13px;
        font-weight: bold;
        color: #757575;
        text-align: center;
        width: 140px;
        height: 36px;
        padding: 5px;
        margin-top: 15px;
        margin-right: 10px;
        background-color: #f2f2f2;
        border: 1px solid #f2f2f2;
        border-radius: 2px;
}

.btn:hover {
            border-color: #999999
}


.results {
            position: relative;
            min-height: 250px;
}

.footer {
            background-color: #EEE;
            height: 55px;
}

.left  {
                float: left;
                list-style: none;
                padding; 0px;
                display: block;
                margin: 20px 20px 0 0;
}




.right {
        float: right;
        list-style: none;
        padding; 0px;
        display: block;
        margin: 20px 20px 0 0;
}